<!-- HEAD PARTIAL -->
<%- include('../partials/head') %> 
    <!-- NAV PARTIAL -->
    <%- include('../partials/nav') %> 
        <!-- MAIN BODY -->
        <main>
            <h2 class="gradient-text">
                <% if(user.name) { %>
                    <%= user.name + '\'s' %> 
                <% } else { %> 
                    your
                <% } %>
                    profile</h2>
            <form action="/user/<%= user._id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded" class="profile form-border" name="profile-form" id="profile-form">
                <ul class="flex-form">
                    <li>
                        <h3 class="form-header">about me</h3>
                        <label for="name">name</label>
                        <input type="text" id="name" name="name" value="<%= user.name %>" required>
                    </li> 
                    <li>
                        <label for="pronouns">what are your pronouns?</label>
                        <input type="text" id="pronouns" name="pronouns" value="<%= user.pronouns %>">
                    </li>
                    <li>
                        <!--hormone type-->
                        <h3 class="form-header">my HRT</h3>
                        <label>hormone replacement therapy</label>
                        <fieldset name="hormone" id="hormone" class="input-clone">
                        <legend class="hidden">hormone replacement therapy</legend>   
                            <div class="checkbox" id="checkboxE">
                                <input type="checkbox" id="estrogen" name="hormone" value="estrogen"
                                    <% if(user.hormone.includes('estrogen') === true) { %>
                                        checked
                                    <% } %> 
                                >
                                <label for="estrogen" class="large-label">estrogen</label>
                            </div>
                            <div class="checkbox" id="checkboxT">
                                <input type="checkbox" id="testosterone" name="hormone" value="testosterone"
                                <% if(user.hormone.includes('testosterone') === true) { %>
                                    checked
                                <% } %>
                                >
                                <label for="testosterone" class="large-label">testosterone</label>
                            </div>
                            <div class="checkbox" id="checkboxP">
                                <input type="checkbox" id="progesterone" name="hormone" value="progesterone"
                                <% if(user.hormone.includes('progesterone') === true) { %>
                                    checked
                                <% } %>
                                >
                                <label for="progesterone" class="large-label">progesterone</label>
                            </div>
                        </fieldset>
                    </li>
                    <% if(user.hormone.includes('estrogen') === true) { %>
                    <div id="hrtDetailsE" class="hrtDetails open">
                    <% } else { %>
                    <div id="hrtDetailsE" class="hrtDetails hidden">
                    <% } %>   
                        <li>
                            <div class="delivery-method">
                                <label for="hrtDeliveryE">estrogen delivery method</label>
                                <input type="text" id="hrtDeliveryE" name="hrtDeliveryE" placeholder="ex. pill, injection" value="<%= user.hrtDeliveryE %>">
                            </div>
                        </li>
                        <li>
                            <label for="hrtDoseE">dose</label>
                            <input type="text" id="hrtDoseE" name="hrtDoseE" placeholder="# mL or mg or pill" value="<%= user.hrtDoseE %>">
                        </li>
                        <li>
                            <label for="hrtConcentrationE">concentration</label>
                            <input type="text" id="hrtConcentrationE" name="hrtConcentrationE" placeholder="# mg/mL if applicable" value="<%= user.hrtConcentrationE %>">
                        </li>
                        <li>
                            <label for="hrtFrequencyE">frequency</label>
                            <input type="text" id="hrtFrequencyE" name="hrtFrequencyE" placeholder="ex. 1x / week" value="<%= user.hrtFrequencyE %>">
                        </li>
                    </div>
                    <!-- /estrogen -->
                    <% if(user.hormone.includes('testosterone') === true) { %>
                    <div id="hrtDetailsT" class="hrtDetails open">
                    <% } else { %>
                    <div id="hrtDetailsT" class="hrtDetails hidden">
                    <% } %> 
                        <li>
                            <div class="delivery-method">
                                <label for="hrtDeliveryT">testosterone delivery method</label>
                                <input type="text" id="hrtDeliveryT" name="hrtDeliveryT" placeholder="ex. injection, patch, gel" value="<%= user.hrtDeliveryT %>">
                            </div>
                        </li>
                        <li>
                            <label for="hrtDoseT">dose</label>
                            <input type="text" id="hrtDoseT" name="hrtDoseT" placeholder="# mL or mg or packet or pill" value="<%= user.hrtDoseT %>">
                        </li>
                        <li>
                            <label for="hrtConcentrationT">concentration</label>
                            <input type="text" id="hrtConcentrationT" name="hrtConcentrationT" placeholder="# mg/mL if applicable" value="<%= user.hrtConcentrationT %>">
                        </li>
                        <li>
                            <label for="hrtFrequencyT">frequency</label>
                            <input type="text" id="hrtFrequencyT" name="hrtFrequencyT" placeholder="ex. 1x / week" value="<%= user.hrtFrequencyT %>">
                        </li>
                    </div>
                    <!-- /testosterone -->
                    <% if(user.hormone.includes('progesterone') === true) { %>
                        <div id="hrtDetailsP" class="hrtDetails open">
                        <% } else { %>
                        <div id="hrtDetailsP" class="hrtDetails hidden">
                        <% } %> 
                        <li>
                            <div class="delivery-method">
                                <label for="hrtDeliveryP">progesterone delivery method</label>
                                <input type="text" id="hrtDeliveryP" name="hrtDeliveryP" value="<%= user.hrtDeliveryP %>">
                            </div>
                        </li>
                        <li>
                            <label for="hrtDoseP">dose</label>
                            <input type="text" id="hrtDoseP" name="hrtDoseP" placeholder="# mL or mg or packet or pill" value="<%= user.hrtDoseP %>">
                        </li>
                        <li>
                            <label for="hrtConcentrationP">concentration</label>
                            <input type="text" id="hrtConcentrationP" name="hrtConcentrationP" placeholder="# mg/mL if applicable" value="<%= user.hrtConcentrationP %>">
                        </li>
                        <li>
                            <label for="hrtFrequencyP">frequency</label>
                            <input type="text" id="hrtFrequencyP" name="hrtFrequencyP" placeholder="ex. 1x / week" value="<%= user.hrtFrequencyP %>">
                        </li>
                    </div>
                    <!-- /progesterone -->
                    <!-- user can opt-in to email notifications, should default to checked if user has selected it in the past -->
                    <!-- <li>
                        <div class="checkbox">
                            <input type="checkbox" id="email_yes" name="email_newFeatures"
                                <%# if(user.email_newFeatures == true) { %>
                                    checked
                                <%# } %>
                                >
                            <label for="email_newFeatures">please notify me about new features by email</label>
                        </div>
                    </li> -->
                    <!-- /opt-in -->
                    <li>
                        <input type="submit" value="update profile" class="submit" />
                    </li>
                </ul>
            </form>
        </main>
    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>