<!-- HEAD PARTIAL -->
<%- include('../partials/head') %> 
    <!-- NAV PARTIAL -->
    <%- include('../partials/nav') %> 
        <!-- MAIN BODY -->
        <main>
            <h2 class="gradient-text"><%# user.name %>HRT history</h2>
            <% for(log of history) { %>
                <button class="accordion history"><span class="accordionDate"><%= log.hrtDate %></span><span class="divider"> // </span><%= log.hrtHormone %><span class="divider"> // </span><%= log.hrtDose %></button>
                <div class="panel">
                    <div id="hrtDetails_container">
                        <span class="label">
                            delivery method
                        </span>
                        <p class="history">
                            <%= log.hrtDelivery %>
                        </p>
                        <div class="dose-concentration">
                            <div>
                                <span class="label">
                                    dose
                                </span>
                                <p class="history">
                                    <%= log.hrtDose %>
                                </p>
                            </div>
                            <div>
                                <span class="label">
                                    concentration
                                </span>
                                <p class="history">
                                    <%= log.hrtConcentration %>
                                </p>
                            </div>
                        </div>
                        <span class="label">
                            frequency
                        </span>
                        <p class="history">
                            <%= log.hrtFrequency %>
                        </p>
                        <span class="label">
                            notes
                        </span>
                        <p class="history">
                            <%= log.hrtNotes %>
                        </p>
                    </div>
                </div>
            <% } %>
                <!--this will be a partial with information from the log page-->
            </main>
                
    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>