<!-- HEAD PARTIAL -->
<%- include('../partials/head') %> 
    <!-- NAV PARTIAL -->
    <%- include('../partials/nav') %> 
        <!-- MAIN BODY -->
        <main>
            <h2 class="gradient-text"><%# user.name %>HRT history</h2>
            <% for(log of history) { %>
                <button class="accordion history"><%= log.hrtDate %> // <%= log.hrtHormone %> // <%= log.hrtDose %></button>
                <div class="panel">
                    <table>
                        <thead>
                            <tr>
                                <th>table title</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    yup there is some data here
                                </td>
                            </tr>
    
                        </tbody>
                    </table>
                </div>
            <% } %>
                <!--this will be a partial with information from the log page-->
            </main>
                
    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>