<!-- HEAD PARTIAL -->
<%- include('../partials/head') %> 
    <!-- NAV PARTIAL -->
    <%- include('../partials/nav-user') %> 
        <!-- MAIN BODY -->
        <main>
            <h2 class="gradient-text">select hormone to log</h2>
            <!-- HRT LOG FORM -->
                        <% user.hormone.forEach((hormone) => { %>
                            <%# let h = hormone.charAt(0) %>
                            <a href="/user/<%= user._id %>/log/<%= hormone %>" class="hormone-link" id="<%= hormone %>-link" title="<%= hormone %>"><%= hormone %></a>
                        <% }); %>
            </form>
            <h3 class="gradient-rev-text right-justify">i am being the change i wish to see in the world</h2>
            </main>
        </main>
    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>