<!-- HEAD PARTIAL -->
<%- include('../partials/head') %> 
    <!-- NAV PARTIAL -->
    <%- include('../partials/nav') %> 
        <!-- MAIN BODY -->
        <main>
            <h2 class="gradient-text">log HRT</h2>
            <!-- HRT LOG FORM -->
            <form class="form-border short-form" action="./history.html" method="POST" name="log-form" id="log-form">
                <ul class="flex-form">
                    <li>
                        <label for="hrtDate">date</label>
                        <input type="text" id="hrtDate" name="hrtDate" value="" required>
                    </li>
                    <li>
                        <% if(user.hormone.length === 1) { %> 
                        <label for="hrtHormone">hormone</label>
                        <input type="text" id="hrtHormone" name="hrtHormone" value="<%= user.hormone %>" required>
                        <% } else { %>
                            <label for="hrtHormone">hormone</label>
                            <select name="hrtHormone" id="hrtHormone">
                                <% for(let i = 0; i < user.hormone.length; i++) { %>
                                <option value="<%= user.hormone[i] %>"><%= user.hormone[i] %></option><% ;}%> 
                            </select>
                        <% } %> 
                    </li>
                    <% const hrtHormone = user.hormone; %>
                    <% if(hrtHormone === 'testosterone') { %>
                        <li>
                            <label for="hrtDelivery">delivery method</label>
                                <input type="text" id="hrtDelivery" name="hrtDelivery" value="<%= user.hrtDeliveryT %>">
                        </li>
                        <li>
                            <label for="hrtDose">dose</label>
                            <input type="text" id="hrtDose" name="hrtDose" value="<%= user.hrtDoseT %>">
                        </li>
                        <li>    
                            <label for="hrtConcentration">concentration</label>
                            <input type="text" id="hrtConcentration" name="hrtConcentration" value="<%= user.hrtConcentrationT %>">
                        </li>
                    <% } else if(hrtHormone === 'estrogen') { %>
                        <li>
                            <label for="hrtDelivery">delivery method</label>
                                <input type="text" id="hrtDelivery" name="hrtDelivery" value="<%= user.hrtDeliveryE %>">
                        </li>
                        <li>
                            <label for="hrtDose">dose</label>
                            <input type="text" id="hrtDose" name="hrtDose" value="<%= user.hrtDoseE%>">
                        </li>
                        <li>    
                            <label for="hrtConcentration">concentration</label>
                            <input type="text" id="hrtConcentration" name="hrtConcentration" value="<%= user.hrtConcentrationE %>">
                        </li>
                    <% } else if(hrtHormone === 'progesterone') { %>
                        <li>
                            <label for="hrtDelivery">delivery method</label>
                            <input type="text" id="hrtDelivery" name="hrtDelivery" value="<%= user.hrtDeliveryP %>">
                        </li>
                        <li>
                            <label for="hrtDose">dose</label>
                            <input type="text" id="hrtDose" name="hrtDose" value="<%= user.hrtDoseP %>">
                        </li>
                        <li>    
                            <label for="hrtConcentration">concentration</label>
                            <input type="text" id="hrtConcentration" name="hrtConcentration" value="<%= user.hrtConcentrationP %>">
                            </li>
                    <% } %> 
                    <li>
                        <h3 class="form-header">notes</h3>
                        <label for="hrtNotes" class="hidden">notes</label>
                        <textarea id="hrtNotes" name="hrtNotes"
                        rows="7" autofocus>   
                        </textarea>
                    </li>
                    <li>
                        <input type="submit" value="add to log" class="submit first-button" />
                    </li>
                </ul>
                <!-- <p>already have a <span class="gradient-text">hrmnl</span> account? <span class="light-grey">//</span> <a href="/login"><span class="embolden">log in</span></a></p> -->
            </form>
            </main>
        </main>
    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>