<!-- HEAD PARTIAL -->
<%- include('../partials/head') %> 
    <!-- NAV PARTIAL -->
    <%- include('../partials/nav') %> 
        <!-- MAIN BODY -->
        <main>
            <h2 class="gradient-text">create profile</h2>
            <form action="#" method="POST" class="profile form-border" name="profile-form" id="profile-form"> 
            <ul class="flex-form">
                <li>
                    <h3 class="form-header">about me</h3>
                    <label for="name">name</label>
                    <input type="text" id="name" name="name" value="<%= user.name %>" required>
                </li> 
                <li>
                        <label for="pronouns">what are your pronouns?</label>
                        <input type="text" id="pronouns" name="pronouns" value="<%= user.pronouns %>">
                </li>
                <li>
                        <!--hormone type-->
                        <h3 class="form-header">my HRT</h3>
                        <label>hormone replacement therapy</label>
                        <fieldset name="hormone" id="hormone" class="input-clone">
                        <legend class="hidden">hormone replacement therapy</legend>   
                            <div class="checkbox">
                                <input type="checkbox" id="estrogen" name="hormone" value="estrogen">
                                <label for="estrogen" class="large-label">estrogen</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="testosterone" name="hormone" value="testosterone">
                                <label for="testosterone" class="large-label">testosterone</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="progesterone" name="hormone" value="progesterone">
                                <label for="progesterone" class="large-label">progesterone</label>
                            </div>
                        </fieldset>
                    </li>
                    <li>
                        <!-- add onclick method to get whichever of these is appropriate to show up if one of those boxes is selected-->
                        <div class="hidden delivery-method">
                            <label for="hrtDeliveryT">testosterone delivery method</label>
                            <input type="text" id="hrtDeliveryT" name="hrtDeliveryT" value="<%= user.hrtDeliveryT %>">
                        </div>
                        <div class="hidden delivery-method">
                            <label for="hrtDeliveryE">estrogen delivery method</label>
                            <input type="text" id="hrtDeliveryE" name="hrtDeliveryE" value="<%= user.hrtDeliveryE %>">
                        </div>
                        <div class="hidden delivery-method">
                            <label for="hrtDeliveryP">progesterone delivery method</label>
                            <input type="text" id="hrtDeliveryP" name="hrtDeliveryP" value="<%= user.hrtDeliveryP %>">
                        </div>
                        <div class="delivery-method">
                            <label for="hrtDelivery">hormone delivery method</label>
                            <input type="text" id="hrtDelivery" name="hrtDelivery" value="<%= user.hrtDelivery %>">
                        </div>
                            <!--DELIVERY METHOD-->
                            <!--pill-->
                            <!--patch-->
                            <!--topical gel-->
                            <!--injection-->
                            <!--estradiol can be taken in many ways, including: oral, buccal, sublingual, intranasal, transdermal (gels, creams, patches), vaginal (tablets, creams, rings, suppositories), rectal, by intramuscular or subcutaneous injection (in oil or aqueous), and as a subcutaneous implant-->
                            <!--testosterone can be taken as a gel, solution, skin patch, injection, pellet implanted under the skin and an oral buccal system-->
                            <!--dropdown with delivery methods, tagged with which hormones they are used, for, and when user selects hormone, populate list list with possible options?-->
                    </li>
                    <li>
                        <label for="hrtDose">dose</label>
                        <input type="text" id="hrtDose" name="hrtDose" placeholder="# mL or mg or packet or pill" value="<%= user.hrtDose %>">
                    </li>
                    <li>    
                        <label for="hrtConcentration">concentration</label>
                        <input type="text" id="hrtConcentration" name="hrtConcentration" placeholder="# mg/mL if applicable" value="<%= user.hrtConcentration %>">
                    </li>
                    <li>
                        <label for="hrtFrequency">frequency</label>
                        <input type="text" id="hrtFrequency" name="hrtFrequency" placeholder="ex. 1x / week" value="<%= user.hrtFrequency %>"> 
                    </li>
                    <!-- <li>
                        <div class="custom-select">
                            <label for="frequency_interval">every&nbsp;&nbsp;</label>
                            <select name="frequency_interval" id="frequency_interval">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <select name="frequency_unit" id="frequency_unit">
                                <option value="hours">hour(s)</option>
                                <option value="days">day(s)</option>
                                <option value="weeks">week(s)</option>
                                <option value="months">month(s)</option>
                            </select>
                        </div>
                    </li> -->
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="email_yes" name="email_new-features">
                            <label for="email_newFeatures">please notify me about new features by email</label>
                    </li>
                    <li>
                        <input type="submit" value="create profile" class="submit" />
                    </li>
                        <!--add details ++ -->
                            <!--dose-->
                            <!--manufacturer-->
                            <!--prescriber-->
                            <!--prescriber contact-->
                            <!--pharmacy-->
                        <!--FREQUENCY-->
                        <!--should this be dependent on whether user wants reminder emails?-->
                        
                            <!--daily-->
                            <!--weekly--><!--day of week-->
                            <!--monthly-->
                            <!--twice daily-->
                            <!--every other day-->
                            <!--every third day-->
                            <!--every fourth day-->
                            <!--every fifth day-->
                            <!--every sixth day-->
                            <!--every eigth day-->

                        <!--EMAIL NOTIFICATIONS-->
                            <!--email address, filled from login-->
                            <!--email-->
                            <!--use different email address than sign-in-->
                        
                        <!--DOSE-->
                        <!--MANUFACTURER-->
                        <!--PRESCRIBER INFO-->
                            <!--prescriber name-->
                            <!--prescriber contact info-->
                    <!-- <li> -->
                    <!-- THIS IS A FANCY DROP DOWN WITH ICONS -->
                        <!-- <div class="select"> -->
                            <!-- You can toggle select (disabled) -->
                            <!-- <input type="radio" name="option">
                            <i class="toggle icon icon-arrow-down"></i>
                            <i class="toggle icon icon-arrow-up"></i>
                            <span class="placeholder">Choose...</span>
                            <label class="option">
                                <input type="radio" name="option">
                                <span class="title animated fadeIn"><i class="icon icon-speedometer"></i>Speedometer</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="option">
                                <span class="title animated fadeIn"><i class="icon icon-fire"></i>Fire</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="option" disabled>
                                <span class="title animated fadeIn"><i class="icon icon-handbag"></i>Handbag</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="option">
                                <span class="title animated fadeIn"><i class="icon icon-badge"></i>Badge</span>
                            </label>
                        </div> -->
                    <!-- </li> -->
                </ul>
            </form>
        </main>
    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>