<!-- HEAD PARTIAL -->
<%- include('../partials/head') %> 
    <!-- NAV PARTIAL -->
    <%- include('../partials/nav-user') %> 
        <!-- MAIN BODY -->
        <main>
            <div class="profile-head-button">
                <h2 class="gradient-text">
                    <% if(user.name) { %>
                        <%= user.name + '\'s' %>
                    <% } else { %>
                        your
                    <% } %>
                        profile
                </h2>
                <a href="/user/<%= user.id %>/edit-profile" title="edit profile" class="h2">
                    <button class="submit rev">edit profile</button></a>
            </div>
            <div class="profile-page form-border">
                <div class="name-pronouns">
                    <p class="profile label">name<span class="profile"><%= user.name %> </span></p>
                    <p class="profile label">pronouns<span class="profile"><%= user.pronouns %> </span></p>
                </div>
                <div class="profile loopy">
                    <p class ="profile label profile-hormone">hormone + HRT details</p>
                        <% for (let i = 0; i < user.hormone.length; i++) { %>
                        <span class="profile HRT"><%= user.hormone[i] %></span>
                    <% const hormone = user.hormone[i];
                    switch (hormone) {
                        case 'testosterone': %>
                            <div class="hrtDetails-profile testosterone">
                                <p class="profile label">
                                    delivery method
                                    <span class="profile">
                                        <%= user.hrtDeliveryT %>
                                    </span>
                                </p>
                                <div class="dose-concentration">
                                    <p class="profile label">
                                        dose
                                        <span class="profile">
                                            <%= user.hrtDoseT %>
                                        </span>
                                    </p>
                                    <p class="profile label">
                                        concentration
                                        <span class="profile">
                                            <%= user.hrtConcentrationT %>
                                        </span>
                                    </p>
                                </div>
                                <p class="profile label">
                                    frequency
                                    <span class="profile">
                                        <%= user.hrtFrequencyT %>
                                    </span>
                                </p>
                            </div>
                            <% break;
                        case 'estrogen': %>
                            <div class="hrtDetails-profile estrogen">
                                <p class="profile label">
                                    delivery method
                                    <span class="profile">
                                        <%= user.hrtDeliveryE %>
                                    </span>
                                </p>
                                <div class="dose-concentration">
                                    <p class="profile label">
                                        dose
                                        <span class="profile">
                                            <%= user.hrtDoseE %>
                                        </span>
                                    </p>
                                    <p class="profile label">
                                        concentration
                                        <span class="profile">
                                            <%= user.hrtConcentrationE %>
                                        </span>
                                    </p>
                                </div>
                                <p class="profile label">
                                    frequency
                                    <span class="profile">
                                        <%= user.hrtFrequencyE %>
                                    </span>
                                </p>
                            </div>
                            <% break;
                        case 'progesterone': %>
                            <div class="hrtDetails-profile progesterone">
                                    <p class="profile label">
                                        delivery method
                                        <span class="profile">
                                            <%= user.hrtDeliveryP %>
                                        </span>
                                    </p>
                                    <div class="dose-concentration">
                                        <p class="profile label">
                                            dose
                                            <span class="profile">
                                                <%= user.hrtDoseP %>
                                            </span>
                                        </p>
                                        <p class="profile label">
                                            concentration
                                            <span class="profile">
                                                <%= user.hrtConcentrationP %>
                                            </span>
                                        </p>
                                    </div>
                                    <p class="profile label">
                                        frequency
                                        <span class="profile">
                                            <%= user.hrtFrequencyP %>
                                        </span>
                                    </p>
                                </div>
                            <% break;
                        } %>
                    <% } %>
                    <p class="profile label">email<span class="profile"><%= user.username %></span></p>
                </div>
            </div>
            <h3 class="gradient-rev-text right-justify">so glad you're here</h2>

            
        </main>
    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>